body 
    margin: 0
    padding: 0
    background-color yellow
    
.icon
    background-image url("logo-desctop-header.svg")
    background-repeat: no-repeat
    width 390px
    height 324px
    display block
    margin 20px auto